spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/bd_scanners
    username: postgres
    password: root

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true
