spring:
  application:
    name: scanner-management-service

  threads:
    virtual:
      enabled: true

  jpa:
    hibernate:
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
      ddl-auto: update
    properties:
      hibernate:
        "[format_sql]": true
        dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: false
    defer-datasource-initialization: true

  datasource:
    driver-class-name: org.postgresql.Driver

  sql:
    init:
      mode: always
      data-locations: classpath:import.sql

  profiles:
    active: prod

server:
  port: 8081
